/* Основные настройки */
:root {
  --fon: #141414
}

body {
  background-color: var(--fon);
  color: rgb(190, 190, 190);
  user-select: none;
  /* text-indent: 15px; */
  font-size: 18px;
  font-weight: bolder;
}

.layout {
  background-color: #141414;
  /* margin: 5px 7px; */
  padding: 10px;
  box-shadow: 5px 5px 5px black;
  border: 1px solid #333;
  border-radius: 0.25rem;
}

input {
  color: black;
  background-color: #e5e5e5b6;
}

.snow {
  /* background-image:  url('ct.png'), url('snow.jpg'); */
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  margin: 0;
  padding: 2px;
}

.hidden {
  display: none;
}

.text-center {
 text-align: center; 
}

select {
  color: white;
  background-color: #444;
}

/* Модальное окно */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}